@model LaneBids.Models.BidDetailsModel
@{
    ViewBag.Title = "Create Bid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageData["NgApp"] = "BidViewer";
    PageData["NgController"] = "BidController";
}


<h2>Add Bid</h2>

@using (Html.BeginForm("Canopy", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset ng-init="addDefaultsSelectBidPage()">
        @Html.HiddenFor(m => m.BidId)
        @Html.HiddenFor(m => m.CanopyId)
        <div class="divLabel">
            <label>Revision Number:</label>
            @Model.RevisionNumber
        </div>

        <div class="divLabel">
            <label>Structure Type:</label>
            @Html.DropDownListFor(d => d.StructureId, Model.StructureList)
            @Html.ValidationMessageFor(v => v.StructureId, null, new { @class = "errorMessage" })
        </div>

        <div class="divLabel">
            <label>Bid Status:</label>
            @Html.DropDownListFor(model => model.BidStatusId, Model.BidStatusList)
            @Html.ValidationMessageFor(v => v.BidStatusId, null, new { @class = "errorMessage" })
        </div>

        <div class="divLabel">
            <label>Job Type:</label>
            @Html.DropDownListFor(model => model.JobTypeId, Model.JobTypeList)
            @Html.ValidationMessageFor(v => v.JobTypeId, null, new { @class = "errorMessage" })
        </div>

        <div class="divLabel">
            <label>Scope Types:</label>
            @Html.DropDownListFor(model => model.ScopeTypeId, Model.ScopeTypeList)
            @Html.ValidationMessageFor(v => v.ScopeTypeId, null, new { @class = "errorMessage" })
        </div>

        <div class="divLabel">
            <label>Bid Types:</label>
            @Html.DropDownListFor(model => model.BidTypeId, Model.BidTypeList)
            @Html.ValidationMessageFor(v => v.BidTypeId, null, new { @class = "errorMessage" })
        </div>

        <div>
            @Html.Partial("_AddSite", Model.AddSiteDetails)
        </div>

        <div>
            @Html.Partial("_AddShippingInfo", Model.AddShippingInfoDetails)
        </div>

        <div class="divLabel">
            <label>Bid Notes:</label>
            @Html.TextAreaFor(model => model.BidNotesText)
        </div>

        <div class="divLabel">
            <label>Create By:</label>
            @if (String.IsNullOrEmpty(Model.CreatedBy))
            {
                @User.Identity.Name
            }
            else
            {
                @Model.CreatedBy
            }
        </div>

        <div class="divLabel">
            <label>Last Modfied By:</label>
            @if (String.IsNullOrEmpty(Model.CreatedBy))
            {
                @User.Identity.Name
            }
            else
            {
                @Model.ModifiedBy
            }
        </div>

        <br />
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/Bid")
    @Scripts.Render("~/bundles/jqueryval")
}