@model LaneBids.Models.RegisterModel

<h3>Change password</h3>

@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div>
        <div class="divLabel">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div class="divLabel">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
        </div>
        <div class="divLabel">
            @Html.LabelFor(m => m.NewPasswordConfirm)
            @Html.PasswordFor(m => m.NewPasswordConfirm)
        </div>
        <input type="submit" value="Change password" />
    </div>
}