@{
    //Bid Status
    var gridBidStatus = new WebGrid(Model.BidStatusList, canPage: true, rowsPerPage: 20,
        selectionFieldName: "selectedBidStatusRow", ajaxUpdateContainerId: "gridBidStatusContent");
    gridBidStatus.Pager(WebGridPagerModes.NextPrevious);
    
    var bidStatusId = "";
    var name = "";
}

<!-- Bid Status -->
<div id="BidStatus">
    <h3>Bid Statuses</h3>
    @gridBidStatus.GetHtml(tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        columns: gridBidStatus.Columns(
            gridBidStatus.Column("Bid_Status_ID", "ID"),
            gridBidStatus.Column("Status", "Status"),
            gridBidStatus.Column("Create_Date", "Date Created"),
            gridBidStatus.Column("FullName", "Created By"),
            gridBidStatus.Column("Edit", header: null, format: @<text>@item.GetSelectLink("Edit")</text>)))
    <span class="AddNewLink" onclick="AddBidStatus()">Add New</span>
    <div id="BidStatusUpdate">
        @if (gridBidStatus.HasSelection)
        {
            var bidStatus = gridBidStatus.SelectedRow;
            bidStatusId = bidStatus["Bid_Status_ID"].ToString();
            name = bidStatus["Status"].ToString();
            <script>
                $(document).ready(function () {
                    $("#BidStatusNew").css("display", "block");
                });
            </script>
        }
    </div>
    <div id="BidStatusNew" style="display: none">
        @using (Html.BeginForm("BidStatus", "Admin", FormMethod.Post, new { @id = "BidStatusForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <input type="hidden" id="Bid_Status_ID" name="Bid_Status_ID" value="@bidStatusId" />
                <div class="divLabel">
                    <label>ID</label>
                    @bidStatusId
                </div>

                <div class="divLabel">
                    <label>Name</label>
                    @Html.TextBox("Status", name)
                </div>

                <p>
                    <input type="submit" value="Submit" />
                </p>
            </fieldset>
        }
    </div>
</div>

<script>
    function AddBidStatus() {
        if ($("#BidStatusNew").is(":visible")) {
            $("#BidStatusUpdate").css("display", "none");
            $("#BidStatusNew").css("display", "none");
        } else {
            $("#BidStatusUpdate").css("display", "none");
            $("#BidStatusNew").css("display", "block");
        }
    }
</script>
