@{
    //Column Types
    var gridColumnTypes = new WebGrid(Model.ColumnTypesList, canPage: true, rowsPerPage: 20,
        selectionFieldName: "selectedColumnTypesRow", ajaxUpdateContainerId: "gridColumnTypesContent");
    gridColumnTypes.Pager(WebGridPagerModes.NextPrevious);

    var columnTypeId = "";
    var name = "";

}

<!--Column Types -->
<div id="ColumnTypes">
    <h3>Column Types</h3>
    @gridColumnTypes.GetHtml(tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        columns: gridColumnTypes.Columns(
            gridColumnTypes.Column("Column_Type_ID", "ID"),
            gridColumnTypes.Column("Name", "Name"),
            gridColumnTypes.Column("Create_Date", "Date Created"),
            gridColumnTypes.Column("FullName", "Created By"),
            gridColumnTypes.Column("Edit", header: null, format: @<text>@item.GetSelectLink("Edit")</text>)))
    <span class="AddNewLink" onclick="AddColumnTypes()">Add New</span>
    <div id="ColumnTypeUpdate">
        @if (gridColumnTypes.HasSelection)
        {
            var ColumnTypes = gridColumnTypes.SelectedRow;
            columnTypeId = ColumnTypes["Column_Type_ID"].ToString();
            name = ColumnTypes["Name"].ToString();
            <script>
                $(document).ready(function () {
                    $("#ColumnTypeNew").css("display", "block");
                });
            </script>
        }
    </div>
    <div id="ColumnTypeNew" style="display: none">
        @using (Html.BeginForm("ColumnTypes", "Admin", FormMethod.Post, new { @id = "ColumnTypeForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <input type="hidden" id="Column_Type_ID" name="Column_Type_ID" value="@columnTypeId" />
                <div class="divLabel">
                    <label>ID</label>
                    @columnTypeId
                </div>

                <div class="divLabel">
                    <label>Name</label>
                    @Html.TextBox("Name", name)
                </div>

                <p>
                    <input type="submit" value="Submit" />
                </p>
            </fieldset>
        }
    </div>
</div>

<script>
    function AddColumnTypes() {
        if ($("#ColumnTypeNew").is(":visible")) {
            $("#ColumnTypeUpdate").css("display", "none");
            $("#ColumnTypeNew").css("display", "none");
        } else {
            $("#ColumnTypeUpdate").css("display", "none");
            $("#ColumnTypeNew").css("display", "block");
        }
    }
</script>
