@{
    //Drainage Types
    var gridDrainage = new WebGrid(Model.DrainageList, canPage: true, rowsPerPage: 20,
        selectionFieldName: "selectedDrainageRow", ajaxUpdateContainerId: "gridDrainageContent");
    gridDrainage.Pager(WebGridPagerModes.NextPrevious);
    
    var drainageId = "";
    var name = "";

}

<!-- Drainage -->
<div id="Drainage">
    <h3>Drainage</h3>
    @gridDrainage.GetHtml(tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        columns: gridDrainage.Columns(
            gridDrainage.Column("Drainage_Type_ID", "ID"),
            gridDrainage.Column("Name", "Name"),
            gridDrainage.Column("Create_Date", "Date Created"),
            gridDrainage.Column("FullName", "Created By"),
            gridDrainage.Column("Edit", header: null, format: @<text>@item.GetSelectLink("Edit")</text>)))
    <span onclick="AddDrainage()" class="AddNewLink">Add New</span>
    <div id="DrainageUpdate">
        @if (gridDrainage.HasSelection)
        {
            var drainage = gridDrainage.SelectedRow;
            drainageId = drainage["Drainage_Type_ID"].ToString();
            name = drainage["Name"].ToString();
            <script>
                $(document).ready(function () {
                    $("#DrainageNew").css("display", "block");
                });
            </script>
        }
    </div>
    <div id="DrainageNew" style="display: none">
        @using (Html.BeginForm("Drainage", "Admin", FormMethod.Post, new { @id = "DrainageForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <input type="hidden" id="Drainage_Type_ID" name="Drainage_Type_ID" value="@drainageId" />
                <div class="divLabel">
                    <label>ID</label>
                    @drainageId
                </div>

                <div class="divLabel">
                    <label>Name</label>
                    @Html.TextBox("Name", name)
                </div>

                <p>
                    <input type="submit" value="Submit" />
                </p>
            </fieldset>
        }
    </div>
</div>

<script>
    function AddDrainage() {
        if ($("#DrainageNew").is(":visible")) {
            $("#DrainageNew").css("display", "none");
            $("#DrainageUpdate").css("display", "none");
        } else {
            $("#DrainageNew").css("display", "block");
            $("#DrainageUpdate").css("display", "none");
        }
    }
</script>

