@{
    //Scope Types
    var gridScopeTypes = new WebGrid(Model.ScopeTypesList, canPage: true, rowsPerPage: 20,
        selectionFieldName: "selectedScopeTypesRow", ajaxUpdateContainerId: "gridScopeTypesContent");
    gridScopeTypes.Pager(WebGridPagerModes.NextPrevious);
    
    var scopeTypeId = "";
    var name = "";
    var code = "";

}

<!--Scope Types -->
<div id="ScopeType">
    <h3>Scope Types</h3>
    @gridScopeTypes.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            columns: gridScopeTypes.Columns(
            gridScopeTypes.Column("Scope_Type_ID", "ID"),
            gridScopeTypes.Column("Name", "Name"),
            gridScopeTypes.Column("Code", "Code"),
            gridScopeTypes.Column("Create_Date", "Date Created"),
            gridScopeTypes.Column("FullName", "Created By"),
            gridScopeTypes.Column("Edit", header: null, format: @<text>@item.GetSelectLink("Edit")</text>)))
    <span class="AddNewLink" onclick="AddScopeTypes()">Add New</span>
    <div id="ScopeTypeUpdate">
        @if (gridScopeTypes.HasSelection)
        {
            var scopeTypes = gridScopeTypes.SelectedRow;

            scopeTypeId = scopeTypes["Scope_Type_ID"].ToString();
            name = scopeTypes["Name"].ToString();
            code = scopeTypes["Code"].ToString();

            <script>
                $(document).ready(function () {
                    $("#ScopeTypeNew").css("display", "block");
                });
            </script>
        }
    </div>
    <div id="ScopeTypeNew" style="display: none">
        @using (Html.BeginForm("ScopeType", "Admin", FormMethod.Post, new { @id = "ScopeTypeForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <input type="hidden" id="Scope_Type_ID" name="Scope_Type_ID" value="@scopeTypeId" />
                <div class="divLabel">
                    <label>ID</label>
                    @scopeTypeId
                </div>

                <div class="divLabel">
                    <label>Name</label>
                    @Html.TextBox("Name", name)
                </div>

                <div class="divLabel">
                    <label>Code</label>
                    @Html.TextBox("Code", code)
                </div>

                <p>
                    <input type="submit" value="Submit" />
                </p>
            </fieldset>
        }
    </div>
</div>

<script>
    function AddScopeTypes() {
        if ($("#ScopeTypeNew").is(":visible")) {
            $("#ScopeTypeUpdate").css("display", "none");
            $("#ScopeTypeNew").css("display", "none");
        } else {
            $("#ScopeTypeUpdate").css("display", "none");
            $("#ScopeTypeNew").css("display", "block");
        }
    }
</script>
