
@{
    //Bio Types
    var gridStructureTypes = new WebGrid(Model.StructureTypeList, canPage: true, rowsPerPage: 20,
        selectionFieldName: "selectedStructureTypesRow", ajaxUpdateContainerId: "gridStructureTypesContent");
    gridStructureTypes.Pager(WebGridPagerModes.NextPrevious);
    
    var structureTypeId = "";
    var name = "";
}

<!-- Structure Types -->
<div id="StructureType">
    <h3>Structure Types</h3>
    @gridStructureTypes.GetHtml(tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        columns: gridStructureTypes.Columns(
            gridStructureTypes.Column("Structure_Type_ID", "ID"),
            gridStructureTypes.Column("Name", " Name"),
            gridStructureTypes.Column("Create_Date", "Date Created"),
            gridStructureTypes.Column("FullName", "Created By"),
            gridStructureTypes.Column("Edit", header: null, format: @<text>@item.GetSelectLink("Edit")</text>),
            gridStructureTypes.Column("Delete", header: null, format: @<text>@item.GetSelectLink("Delete")</text>)))
    <span class="AddNewLink" onclick="AddStructureType()">Add New</span>
    <div id="StructureTypeUpdate">
        @if (gridStructureTypes.HasSelection)
        {
            var structureType = gridStructureTypes.SelectedRow;

            structureTypeId = structureType["Structure_Type_ID"].ToString();
            name = structureType["Name"].ToString();
            <script>
                $(document).ready(function() {
                    $("#StructureTypeNew").css("display", "block");
                });
            </script>
        }
    </div>
    <div id="StructureTypeNew" style="display: none">
        @using (Html.BeginForm("StructureTypes", "Admin", FormMethod.Post, new { @id = "StructureTypeForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <input type="hidden" id="Structure_Type_ID" name="Structure_Type_ID" value="@structureTypeId" />
                <div class="divLabel">
                    <label>ID</label>
                    @structureTypeId
                </div>

                <div class="divLabel">
                    <label>Name</label>
                    @Html.TextBox("Name", name)
                </div>

                <p>
                    <input type="submit" value="Submit" />&nbsp;
                    <input type="button" value="Cancel" />
                </p>
            </fieldset>
        }
    </div>
</div>

<script>
    function AddStructureType() {
        if ($("#StructureTypeNew").is(":visible")) {
            $("#StructureTypeUpdate").css("display", "none");
            $("#StructureTypeNew").css("display", "none");
        } else {
            $("#StructureTypeUpdate").css("display", "none");
            $("#StructureTypeNew").css("display", "block");
        }
    }
</script>
