@model LaneBids.Models.AdminMaintenance
@using System.Activities.Expressions
@using System.Data
@using System.Web.UI.WebControls
@using LaneBids.Models
@{
    ViewBag.Title = "Maintenance";
    
}

<h2>Maintenance Page</h2>

@Html.Partial("_StructureTypes")

@Html.Partial("_BidStatus")

@Html.Partial("_JobTypes")

@Html.Partial("_ScopeTypes")

@Html.Partial("_ColumnTypes")

@Html.Partial("_ColumnShapes")

@Html.Partial("_DeckStyles")

@Html.Partial("_FasciaTypes")

@Html.Partial("_Drainage")

<br /><br />
@section Scripts
{
    <script type="text/javascript">
        
        function AddBioTypes() {
            if ($("#BioTypeNew").is(":visible")) {
                $("#BioTypeUpdate").css("display", "none");
                $("#BioTypeNew").css("display", "none");
            } else {
                $("#BioTypeUpdate").css("display", "none");
                $("#BioTypeNew").css("display", "block");
            }
        }
        
    </script>
}
